.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: var(--navyBlue);
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    color: var(--white);
    display: block;
    width: 100%;
    padding: 0.5rem;
}

input[type=submit] {
    background-color: var(--red);
    padding: 0.5rem;
    width: 100%;
    margin: 0;
}

.checkbox {
    display: inline;
    width: fit-content;
    margin-right: 0.5rem;
}