#registration {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: var(--navyBlue);
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    color: var(--white);
}

input[type=submit] {
    background-color: var(--red);
    padding: 0.5rem;
    width: 100%;
    margin: 0;
}