body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3E3636;
    color: #F5EDED;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #D72323;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    padding: 1rem;
}