@media (max-width: 992px) {
    .more {
        width: 75%;
    }

    #download {
        width: 75% !important;
    }
}

@media (max-width: 767px) {
    .more {
        width: 100% !important;
    }

    #download {
        width: 100% !important;
    }
}

html {
    width: 100%;
}

body {
    font-family: sans-serif;
}

nav {
    background-color: lightblue;
}

#hero {
    height: 94vh;
}

section {
    padding: 1rem;
}

.more {
    width: 50%;
    margin: auto;
}

#download {
    width: 60%;
    margin: auto;
}

#downloadImg {
    max-width: 400px;
}

a {
    text-decoration: none;
    color: inherit;
}